<h4>{{'LOGIN AND REGISTER HEADER' | translate}}</h4>
<h5>{{'LOGIN AND REGISTER BODY' | translate}}</h5>
<br>
<h4>{{'HOMEPAGE HEADER' | translate}}</h4>
<h5>{{'HOMEPAGE BODY' | translate}}</h5>
<br>
<h4>{{'SETTING UP HEADER' | translate}}</h4>
<h5>{{'SETTING UP BODY' | translate}}</h5>
<br>
<h3>{{'RULES MANUAL' | translate}}</h3>
<h5>{{'RULES MANUAL BODY' | translate}}</h5>
<br>
<h4>{{'BASIC GAME COMPONENT HEADER' | translate}}</h4>
<h5>{{'BASIC GAME COMPONENT BODY' | translate}}</h5>
<br>
<h4>{{'FLEET HEADER' | translate}}</h4>
<h5>{{'FLEET BODY' | translate}}</h5>
<br>
<h4>{{'SHOOT OUTCOME HEADER' | translate}}</h4>
<h5>{{'SHOOT OUTCOME BODY' | translate}}</h5>
<br>
<h4>{{'FLEET PLACEMENT HEADER' | translate}}</h4>
<h5>{{'FLEET PLACEMENT BODY' | translate}}</h5>
<br>
<h4>{{'GAME PLAY HEADER' | translate}}</h4>
<h5>{{'GAME PLAY BODY' | translate}}</h5>
<br>