.center_div{
    margin: 0 auto;
    width:80%;
}

.container.center-div{
    max-width:400px;
}

h1{
    margin: 20px;
    font-size: 150%;
    font-family: sans-serif;
    color: #808080;
}

::ng-deep .wonPop {
    background: rgb(60,179,113);
    color: black;
}
  