<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <table class="battleshipBoard">
        <tr *ngFor="let r of levelsInBoard;let i = index " class="battleshipBoard" id="myBoard">
          <td *ngFor="let c of levelsInBoard ;" class="battleshipBoard battleCell" [attr.id]="i*multiply+c+'L'"></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <table class="battleshipBoard" *ngIf='gameReady'>
        <tr *ngFor="let r of levelsInBoard;let i = index " class="battleshipBoard">
          <td *ngFor="let c of levelsInBoard ;" class="battleshipBoard battleCell right" (click)="onClick($event)"
            [attr.id]="i*multiply+c+'R'" [attr.disabled]="buttonDisabled"> </td>
        </tr>
      </table>
      <div *ngIf='!gameReady'>
        <h1>{{ 'WAITING_FOR_OPPONENT' | translate}}</h1>
        <img src="/assets/img/loading.gif">
       <div>
    </div>
  </div>
</div>

<!-- <ng-template #denied>
  <div class="row">
    {{PERMISION_DENIED}} 
  </div>
</ng-template> -->
