<br>
<div *ngIf='permission' class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5" style="text-align:center;">
      <h1>My board</h1>
      <table class="battleshipBoard">
        <tr *ngFor="let r of levelsInBoard;let i = index " class="battleshipBoard" id="myBoard">
          <td *ngFor="let c of levelsInBoard ;" class="battleshipBoard battleCell" [attr.id]="i*multiply+c+'L'"></td>
        </tr>
      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2">
      {{turnMessage}}
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5" style="text-align:center;">
      <h1>Opponent board</h1>
      <table class="battleshipBoard" *ngIf='gameReady'>
        <tr *ngFor="let r of levelsInBoard;let i = index " class="battleshipBoard">
          <td *ngFor="let c of levelsInBoard ;" class="battleshipBoard battleCell right" (click)="onClick($event)"
            [attr.id]="i*multiply+c+'R'" [attr.disabled]="buttonDisabled"></td>
        </tr>
      </table>
      <div *ngIf='!gameReady'>
        <img src="/assets/img/loading.gif" class="center">
        <h1>{{ 'WAITING FOR OPPONENT' | translate}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <textarea rows='6' class="textarea" readonly></textarea>
    </div>
  </div>
</div>
<div *ngIf='!permission' class="container center-div"  style="text-align:center;">
  <div class="row">
    <div class="col-12">
      <h1 style="color: magenta">Permission denied!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12" >
      <img src="../../assets/img/denied.gif" style="height:70%; width:auto;">
    </div>
  </div>

</div>