<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a><img class="navbar-brand" routerLink="/" src="/assets/img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">{{ 'HOME' | translate }}</a>
      </li>
      <li class="nav-item" *ngIf="authority === 'user'">
        <a class="nav-link" routerLink="user">{{ 'USER BOARD' | translate }}</a>
      </li>
      <li class="nav-item" *ngIf="authority === 'user'">
        <a class="nav-link" routerLink="config">{{ 'CONFIG' | translate }}</a>
      </li>
      <li class="nav-item" *ngIf="!authority">
        <a class="nav-link" routerLink="auth/login">{{ 'LOGIN' | translate }}</a>
      </li>
    </ul>
    
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="authority">
        <a class="nav-link" (click)="logout()">logout</a>
        <!-- add fontawesome because glyphicon is not in bootstrap 4 -->
      </li>
      <li class="nav-item">
          <a class="nav-link flag" (click)="setLang('pl')"><i class="flag-icon flag-icon-pl"></i></a>
      </li>
      <li class="nav-item">
          <a class="nav-link flag" (click)="setLang('en')"><i class="flag-icon flag-icon-gb"></i></a>
      </li>
    </ul>
  </div>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>