<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 align="center" class="display-1">Statki</h1>
<a href="/login">Elo</a>
<td>
    <span th:if="${session.user == null}">
         <form class="navbar-dark" action="/" method="post">
        <div class="row-3">
            <div class="col-3">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
        <button type="submit" class="btn btn-secondary">Sing in</button>
        </div>
    </form>
    </span>
    <span th:unless="${session.user == null}">
        <span th:text="${session.user}"></span>
    </span>
</td>
</body>
</html>