<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form class="navbar-dark" action="/" method="post">
    <div class = "row">
        <div class = "col">
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" name="email"  placeholder="email">
            </div>
        </div>
        <div class = "col">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary">Sing in</button>
</form>
</body>
</html>