
<br><br><br>
<div *ngIf='permission' class="container center-div">
  <div class="row">
    <div class="col">
        <table class="battleshipBoard">
            <tr *ngFor="let r of boardLength;let i = index " class="battleshipBoard" id="myBoard">
                <td *ngFor="let c of boardLength ;" class="battleshipBoard battleCell" 
                    [attr.id]="i*10+c+'L'" ></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="col">
        <button id="random" (click)="getRandomShips()">{{ 'RANDOM' | translate}}</button>
        <button *ngIf="canIStart==true" (click)="goToTheGameRoom()" >{{ 'START GAME' | translate}}</button>
    </div>
  </div>
</div>

<div *ngIf='!permission'>
  <p> You dont have permision to this resource</p>
</div>




