<div class="container center-div" style="max-width:400px;">
  <form class="config-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field class="config-form-width">
      <input matInput name="name" ngModel required #name="ngModel" placeholder="{{ 'GAME NAME' | translate }}">
    </mat-form-field>
    <!-- <mat-slider class="config-form-width" min="10" max="15" step="1" [value]="10" name="dimension" ngModel required #dimension="ngModel"></mat-slider> -->
    <mat-form-field class="config-form-width">
        <mat-label>{{ 'DIMENSION' | translate }}</mat-label>
        <select matNativeControl required name="dimension" ngModel  #dimension="ngModel">
            <option value="10">10X10</option>
        </select>
    </mat-form-field>
    <mat-form-field class="config-form-width">
        <mat-label>{{ 'AM I STARTING' | translate }}</mat-label>
        <select matNativeControl required name="whoStarts" ngModel  #whoStarts="ngModel">
            <option value="true">{{ 'YES' | translate }}</option>
            <option value="false">{{ 'NO' | translate }}</option>
        </select>
    </mat-form-field>
    <mat-form-field class="config-form-width">
        <mat-label>{{ 'GAME TYPE' | translate }}</mat-label>
        <select matNativeControl required name="gameMode" ngModel  #gameMode="ngModel">
            <option value="STANDARD">{{ 'STANDARD' | translate }}</option>
        </select>
    </mat-form-field>
    <button *ngIf='dimension.value==10 && name.valid && whoStarts.valid && gameMode.valid' >{{ 'GAME' | translate }}</button>
  </form>
</div>
