<ng-template #loggedOut>
  Please login.
</ng-template>
<br><br>
<div class="row">
  <div class="col-12">
      <div class="container center-div  table-responsvie" >
          <table class="table table-responsive w-100 d-block d-md-table">
              <thead class="thead-dark">
            <tr>
              <th class="top">{{ 'GAME STATE' | translate }}</th>
              <th class="top">{{ 'GAME NAME' | translate }}</th>
              <th class="top">{{ 'DIMENSION' | translate }}</th>
              <th class="top">{{ 'GAME MODE' | translate }}</th>
              <th class="top"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let game of listOfAllGames | keyvalue">
                <td>{{game.value.gameState | translate}}</td>
                <td>{{game.value.gameName}}</td>
                <td>{{game.value.dimension}}x{{game.value.dimension}}</td>
                <td>{{game.value.gameMode | translate}}</td>
                <td><button id="{{game.value.gameId}}" (click)="joinGame($event)"  *ngIf='game.value.gameState==="WAITING_FOR_PLAYER"'>{{ 'JOIN GAME' | translate }}</button></td>
            </tr>
          </tbody>
          </table>
  </div>
  </div>
</div>


<ng-template #noScoreboard>
    <tr>
        <td class="top">{{ 'NICK' | translate }}</td>
        <td class="top">{{ 'GAMES PLAYED' | translate }}</td>
        <td class="top">{{ 'GAMES WON' | translate }}</td>
        <td class="top">{{ 'RATIO' | translate }}</td>
      </tr>
</ng-template>
