outer-div{
    padding: 30px;
    text-align: center;
}

inner-div{
   display: inline-block;
   padding: 50px;
}

.center_div{
    margin: 0 auto;
    width:80% ;
}

::ng-deep .wonPop {
    background: rgb(60,179,113);
    color: black;
}